// Flex and Grid
@mixin flexCenter ($direction : row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}
@mixin gridCenter {
    display: grid;
    place-items: center;
}

// Misc 
@function strip-unit($num) { // Strip unit from value.
  @return $num / ($num * 0 + 1);
}

// Math
@function pow($base, $exponent) {
    $result: 1;
    @for $_ from 1 through $exponent {
      $result: $result * $base;
    }
    @return $result;
}

// Create a responsive value range for specified breakpoint ranges.
@mixin fluid($variable: null, $min: null, $max: null, $breakpoint-min: null, $breakpoint-max: null) {

  // Function which scales linearly between 0 and 1 over user defined screen width range.
  $value-diff: strip-unit($max) - strip-unit($min);
  $screen-diff: strip-unit($breakpoint-max) - strip-unit($breakpoint-min);

  // Apply scaling function. 
  #{$variable} : calc(#{$min} + #{$value-diff} * (calc(100vw - #{$breakpoint-min}) / #{$screen-diff}));

  // Clamp values at breakpoint boundaries.
  @media only screen and (min-width: #{$breakpoint-max}) {
      #{$variable} : $max; 
  }
  @media only screen and (max-width: #{$breakpoint-min}) {
      #{$variable} : $min;
  }
}

