@use 'layout';
@use 'colours';

h1 {
    margin-top: layout.$unit * 14;
    font-size: 93px;
    font-family: 'Poppins';
    line-height: layout.$unit * 12;
    font-weight: 900;
    letter-spacing: -0.04em;
}
    letter-spacing: -0.06em;
}
h5 {
    margin-top: layout.$unit * 6;
    font-size: 24px;
    font-family: 'Poppins';
    font-weight: 600;
}
h6 {
    font-size: 19px;
    font-family: 'Poppins';
}
p {
    font-size: 16px;
    font-family: 'Roboto';
    margin-top: layout.$unit * 4;
}
button {
    font-size: 16px;
    font-family: 'Poppins';
    text-transform: uppercase;
    padding: layout.$unit * 1 layout.$unit * 3;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}
code {
    white-space: pre;
}