@import './css/defaults.css';
@import './css/responsiveFonts.css';

:root {
    --white: rgb(252, 249, 249);
}

* {
    font-family: 'Poppins';
}

body {
    color: var(--white);
    background: rgba(35, 43, 65, 1);
    background: url('./assets/background.png') center center;
    background-size: cover;
    background-repeat: no-repeat;
}

a:hover{
    color: rgba(35, 43, 65);
}

a:focus{
    color: rgb(194, 133, 76);
}

a:active{
    color: var(--white)
}

main{
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    min-width: calc(var(--screen-min) * 1px);
    max-width: calc(var(--screen-max) * 1px);
}

.header{
    margin-top: 4em;
    text-transform: uppercase;
}

.header__title{
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-bottom: -0.3em;
}

.header__subtitle{
    letter-spacing: 0.298em;
    width: 100%;
    text-align: center;
}

.fetch{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    background: rgba(35, 43, 65, 0.7);
}

.fetch__url{
    margin: 0.75em 1.5em;
    white-space: nowrap;
}

.fetch__submit{
    font-weight: bold;
    color: #555;
    background-color: rgb(255, 255, 255, 0.7);
    text-transform: uppercase;
    min-width: 9em;
    min-height: 2.75em;
    flex-grow: 1;
    padding: 0.25em;
    border-left: 1px solid var(--white);
}

button:focus{
    background-color: rgba(35, 43, 65, 0.7);
}

button:hover{
    background-color: rgba(35, 43, 65, 0.7);
}

.box{
    border: 1px solid var(--white);
    /* border-radius: 3px; */
    box-shadow: 2em 2em 5em rgba(14, 17, 26, 0.7);
    
}

.response{
    z-index: -1;
    background: rgba(35, 43, 65, 0.7);
    padding: 2em;
    margin-top: 1.5em;
    max-height: 25em;
    overflow-y: scroll;
}

.response__code{
    font-size: 12rem;
    letter-spacing: 0.1em;
}

.table{
    margin-top: 1.5em;
    background: rgba(35, 43, 65, 0.7);
    
}


.table__row--header{
    font-weight: bold;
    background: rgba(140, 178, 204, 0.7);
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.table__item{
    padding: 0.5em 0.7em;
    vertical-align: text-top;
    text-align: left;
    
}
.table__item--request{
    font-weight: bold;
    text-transform: uppercase;
}

.table__item--path{
    white-space: nowrap;
}



.footer{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}

.footer__item{
    margin: 0.05em 0;
}

.footer__item--author{
    font-weight: bold;
    font-size: 14rem;
}

.footer__item--bg{
    font-size: 9rem;
}









