.bar{
    background-color: var(--light);
    padding: 0.4em;
    display: flex;
    color: var(--light);
    align-items: center; 
    border-bottom: 1px solid var(--light);
    background: linear-gradient(90deg, var(--green), var(--blue));
}

.bar__logo{
    height: 1.5em;
}

.bar__text{
    margin-left: 0.4em;
    text-transform: uppercase;
}

.bar--request{
    background: linear-gradient(90deg, var(--pink), var(--blue));
    background-color: var(--green);
}

.bar__logo--request{
    transform: rotate(180deg);
}

.bar--response{
    background-color: var(--pink);
}