.box{
    background-color: var(--dark);
    box-shadow: 10px 10px 20px var(--gray); 
    border: 1px solid var(--light);
    z-index: -1;
}

.box--response{
    transition: ease-in-out 0.2s;
    margin-top: 0.5em;
}
