.code{
    padding: 2em;
    /* display: grid;
    place-items: center; */
}

.code__text{
    font-family: Roboto Mono;
    font-weight: 400;
    font-size: 12rem;
    display: block;
    color: var(--light);
    white-space: pre-wrap;
}

