* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-weight: inherit;
    font-variant-numeric: normal;
}

::-webkit-scrollbar {
    display: none;
}

body{
    overflow-x: hidden;
}

input, button, submit { border:none; } 

a { font-size: inherit }
a:hover{ cursor:pointer }

code{
    white-space: pre-wrap;
}