.splash{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
}

.splash__text{
    text-align: right;
    color: var(--dark);
    margin-right: 0.8em;
    font-family: 'Roboto Slab';
    font-weight: 300;
    line-height: 1.1;
    width: 8em;
    margin-bottom: 0;
}

.splash__image{
    height: 100%;
    padding: 0.2em;
    opacity: 0.8;
}