@use '../base/colours' as colours;
@use '.../base/layout';

.demo {
    background-color: colours.$light;
    width: layout.$unit * 94;
    height: layout.$unit * 16;
    box-shadow: layout.$unit * 5 layout.$unit * 5 layout.$unit * 15 $primary;
    margin-top: layout.$unit * 10;
}

.demo {
    color: colours.$primary;
    @include flexCenter;
    justify-content: space-between;
    padding: 0 layout.$unit * 8;
}

.demo__request {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.demo__response {
    font-weight: 400;
    font-family: Poppins;
}

.demo__coin {
    font-weight: 700;
}
.demo__slash {
    font-weight: 600;
    margin: 0 0.2em;
}
.demo__format {
    font-weight: 400;
}
.demo__icon {
    height: layout.$unit * 10;
}