@use '../utils/flexbox';
@use '../base/layout';

@mixin flexCenter ($direction : row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

// Container
.header {
    display: flex;
}

// Logo
.header__ident {
    @include flexCenter;
}

.ident__text {
    margin-top: layout.$unit * 1;
}

.ident__logo {
    width: layout.$unit * 5;
    margin-right: layout.$unit * 1;
}

// Right side navigation.
.nav {
    margin-left: auto;
    @include flexCenter;
}
.nav__button {
    margin-left: layout.$unit * 4;
}